# Node/Web
node_modules
dist
build
.cache
*.log
# Android / TWA / Gradle
twa/
android/
*.aab
*.apk
*.jks
.keystore
.gradle
**/build/
# iOS (hvis det kommer senere)
ios/
# OS
.DS_Store

# Generated PWA assets
public/icons/*.png
public/screenshots/*.png
public/favicon.ico
